<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }

		.videoContainer {
		    position: relative;
		    width: 200px;
		    height: 150px;
		}
		.videoContainer video {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		}
		.volume_bar {
		    position: absolute;
		    width: 5px;
		    height: 0px;
		    right: 0px;
		    bottom: 0px;
		    background-color: #12acef;
		}
		/*.invis {display: none;}*/
		#profpic { width:200px; height:200px;}
		/*#localVideo { display: none;}*/
	</style>

</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/socket.io.js"></script>
<script src="/simplewebrtc.bundle.js"></script>
<script src="/js/profile.js"></script>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<p id="subTitle"></p>
	<form id="createRoom">
	    <input id="sessionInput"/>
	    <button type="submit">Create it!</button>
	</form>
	<div class="videoContainer col-md-3">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-github"></span> Github</h3>
				<strong>name</strong>: <%= user.github.name %> <br>
				<img id='profpic' src="<%= user.github.picture %>"><br>
		    <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
		    <div id="localVolume" class="volume_bar"></div>
	    </div>
	</div>
	<div id="remotes"></div>

</div>
</html>
</body>